## idea
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.log
*.gz

# java
*.jar
*.class
*.war
*.ear
*.nar
*.hs_err_pid*
*.tmp

*.srctrlbm
*.srctrldb
*.srctrlprj

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
# vscode
.classpath
.settings
.project
# mac
.DS_Store